[Unit]
Description=Upload cloud-init log to S3 on shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
Environment="S3_BUCKET_NAME=${s3_bucket_name}"
ExecStart=/opt/logupload.sh
RemainAfterExit=true

[Install]
WantedBy=halt.target reboot.target shutdown.target
